@page "/tarea/editartarea/{id:int}"

@using Tareas.Data

@inject TareaService service
@inject NavigationManager navigation

    <EditForm Model="@Modelo" OnValidSubmit="@Guardar">
        <DataAnnotationsValidator />
        <ValidationSummary />
        Titulo:
        <InputText @bind-Value="Modelo.Titulo" />
        <br />
        Vencimiento:
        <InputText @bind-Value="Modelo.Vencimiento" />
        <br />
        Estimacion:
        <InputText @bind-Value="Modelo.Estimacion" />
        <br />
        Recurso:
        <div class="form-group row">
            <InputSelect @bind-Value="IdRecursos">
                <option value="0">Elija un Detalle</option>
                @foreach (var item in recurso)
                {
                    <option value="@item.IdRecursos">@item.Nombre</option>
                }
            </InputSelect>
        </div>
        <br />
        @*Estado:
        <InputText @bind-Value="Modelo.Estado" />*@
        <br />

        <button type="submit">Guardar</button>
    </EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    public Tareas.Data.Tarea Modelo { get; set; } = new Tareas.Data.Tarea();

    public string IdRecursos { get; set; }

    public List<Tareas.Data.Recurso> recurso { get; set; } = new List<Recurso>();

    protected override async Task OnInitializedAsync()

    {
        if (Id > 0)
        {
            Modelo = await service.Get(Id);
        }
        else
        {
            Modelo = new Tareas.Data.Tarea();
        }

    }


    private async void Guardar()
    {
        await service.Save(Modelo);
        navigation.NavigateTo("tarea/tareas");
    }
}
